<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员{{ authority }}你好</title>
</head>
<body style="text-align: center">
    <h1>管理员页面</h1>
    <table style="text-align: center;width: 100%">
        <tr>
            <td><button onclick=window.open("/manageseller")>管理销售人员</button></td>
        </tr>
        <tr>
            <td><button onclick=window.open("/sellinfo")>商品销售管理</button></td>
        </tr>
        <tr>
            <td><button onclick=window.open("/sellerPERF")>销售人员业绩查询与监控</button></td>
        </tr>
        <tr>
            <td><a href="/logout/">退出登录</a></td>
        </tr>
    </table>
</body>
</html>